$icon-size: 60px;
.nav-link{
  .fa-brands{
    font-size: 18px;
  }
}
.showcase{
  background: url("../img/showcase.jpg") no-repeat 0 -100px;
  height: 600px;
  padding: 30px 0;

  h1{
    font-size: 60px;
  }
  .container{
    background: #fff;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
  }
}
.section-a{
  padding: 30px 0;
  text-align: center;
  color: #fff;
  .fa-solid,.fa-brands{
    font-size: $icon-size;
  }
}
.section-b{
  padding: 30px 0;
  img{
    width: 100%;
  }
}
.section-c{
  padding: 60px 0;
  margin-top: 40px;
  text-align: center;
  color: #fff;
  .btn-primary{
    color: #1a8c97;
    border: 1px solid #fff;
  }
}

footer{
  padding: 30px 0;
  text-align: center;
  border-top: #fff 1px solid;
  font-size: larger;
}
.title-bar{
  background: url("../img/showcase.jpg") no-repeat 0 -100px;
  height: 600px;
  padding: 30px 0;

  h1{
    font-size: 60px;
  }
  .container{
    background: #fff;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
  }
}
.main{
  margin-top: 40px;
}